<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamboo.basicinformationtips.dao.BasicInformationTipsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bamboo.basicinformationtips.entity.BasicInformationTips">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="current_price" property="currentPrice" />
        <result column="target_price" property="targetPrice" />
        <result column="amplitude" property="amplitude" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="getCodesToday" resultMap="BaseResultMap">
        SELECT * FROM bamboo_basic_information_tips
        WHERE DATE_FORMAT( create_time, '%Y-%m-%d' ) = #{date} AND type = #{type} AND is_delete = '1'
        <if test="codes != null and codes.size > 0">
            AND code IN
            <foreach collection="codes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
