<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamboo.coininfohistory.dao.CoinInfoHistoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bamboo.coininfohistory.entity.CoinInfoHistory">
        <result column="coin_name" property="coinName" />
        <result column="current_price" property="currentPrice" />
        <result column="target_price" property="targetPrice" />
        <result column="sale_price" property="salePrice" />
        <result column="symbol" property="symbol" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
