<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamboo.test.dao.PeituDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bamboo.test.entity.Peitu">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="small_title" property="smallTitle" />
        <result column="xuanci" property="xuanci" />
        <result column="daan" property="daan" />
        <result column="yinpin" property="yinpin" />
        <result column="peitu" property="peitu" />
        <result column="file" property="file" />
    </resultMap>

</mapper>
