<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamboo.common.menu.dao.MenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bamboo.common.menu.entity.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="path" property="path" />
        <result column="source" property="source" />
        <result column="sort" property="sort" />
        <result column="category" property="category" />
        <result column="action" property="action" />
        <result column="is_open" property="isOpen" />
        <result column="remark" property="remark" />
    </resultMap>
    <resultMap id="BaseResultMapVo" type="com.bamboo.common.menu.vo.response.GetMenuResponse">
        <id column="id" property="id" />
        <result column="value" property="value" />
        <result column="key" property="key" />
        <result column="parent_id" property="parentId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="path" property="path" />
        <result column="source" property="source" />
        <result column="sort" property="sort" />
        <result column="category" property="category" />
        <result column="action" property="action" />
        <result column="is_open" property="isOpen" />
        <result column="remark" property="remark" />
        <result column="title" property="title" />
    </resultMap>
    <resultMap id="BaseResultMapVoResponse" type="com.bamboo.common.menu.vo.response.MenuVoResponse">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="path" property="path" />
        <result column="source" property="source" />
        <result column="sort" property="sort" />
        <result column="category" property="category" />
        <result column="action" property="action" />
        <result column="is_open" property="isOpen" />
        <result column="remark" property="remark" />
        <result column="title" property="title" />
    </resultMap>

    <select id="getTree" resultMap="BaseResultMapVo">
        select bamboo_menu.*,bamboo_menu.name as title,bamboo_menu.id as `value`,bamboo_menu.id as `key` from bamboo_menu where 1=1
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
    </select>
    <select id="selRolePermission" resultMap="BaseResultMapVo">
        select bm.id,bm.name name,bm.code,bm.alias,bm.path,
        bm.source,bm.sort,bm.category,bm.action,bm.is_open,bm.remark
        from bamboo_menu bm where 1=1
        <if test="parentId != null">
            and bm.parent_id = #{parentId}
        </if>
        ORDER BY bm.id
    </select>
    <select id="buttons" resultMap="BaseResultMapVo">
        select
        id,
        parent_id,
        `code`,
        `name`,
        alias,
        path,
        source,
        action,
        sort
        from bamboo_menu bm where 1=1
        AND id IN ( SELECT parent_id FROM bamboo_menu WHERE  category = 2 )
    </select>
<!--    <select id="selRolePermission" resultMap="BaseResultMapVo">-->
<!--        select bm.id,bm.name name,bm.code,bm.alias,bm.path,-->
<!--        bm.source,bm.sort,bm.category,bm.action,bm.is_open,bm.remark-->
<!--        from bamboo_role_menu brm,bamboo_menu bm where 1=1 and bm.id = brm.menu_id-->
<!--        from bamboo_menu bm where 1=1-->
<!--        <if test="roleId != null and roleId != ''">-->
<!--            and brm.role_id = #{roleId}-->
<!--        </if>-->
<!--        <if test="parentId != null">-->
<!--            and bm.parent_id = #{parentId}-->
<!--        </if>-->
<!--        ORDER BY bm.id-->
<!--    </select>-->

    <select id="getList" resultMap="BaseResultMapVoResponse">
        SELECT * FROM bamboo_menu
        <where>
            <if test="name != null and name != ''">
                name like CONCAT('%',#{name},'%')
            </if>
        </where>
        ORDER BY sort
    </select>

</mapper>
